.card img{
    width: 100;
    border-radius: 50%;
    text-align: center;
}
.card{
    border-radius: 25px;
}
.card-body{
    text-align: center;
}
.card:hover{
    background-color:slategray;
    color: white;
}
.addFvrt{
    background-color:steelblue;
    color: white;
}

